services:
  db:
    image: postgres:16
    container_name: hrms_postgres
    environment:
      POSTGRES_DB: hrms_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: hrms_backend
    environment:
      DATABASE_URL: postgres://postgres:root@db:5432/hrms_db
      PYTHONUNBUFFERED: 1
    depends_on:
      - db
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: hrms_frontend
    depends_on:
      - backend
    ports:
      - "3000:80"

volumes:
  postgres_data:
