services:
  - type: web
    name: hrms-backend
    env: python
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn hrms.wsgi:application"
    envVars:
      - key: DEBUG
        value: "False"
      - key: SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: hrms-db
          property: connectionString

databases:
  - name: hrms-db
    plan: free
